{% extends "::base.html.twig" %}


{%  block body %}
{{ render(controller("AltawayPageBundle:Page:menu", { 'route' : app.request.attributes.get("_route") })) }}

    <div class="content container-fluid">
            {% block content %}

            {% endblock %}
    </div>
    <footer class="col-xs-12">

    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}