{% block user_block %}
    <li class="user-header bg-light-blue">
        <img src="{{ asset('bundles/altawayadmin/images/av4.jpg') }}" class="img-circle" alt="Avatar" />
        <p>{{ app.user }}</p>
    </li>

    <li class="user-footer">
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <div class="pull-left">
                <a id="logout" class="btn btn-default btn-flat" href="{{ url('sonata_admin_dashboard', {'_switch_user': '_exit'}) }}">
                    <i class="fa fa-sign-out fa-fw"></i>Reset User
                </a>
            </div>
        {% endif %}
        <div class="pull-right">
            <a id="logout" class="btn btn-default btn-flat" href="{{ url('fos_user_security_logout') }}">
                <i class="fa fa-sign-out fa-fw"></i>Log out
            </a>
        </div>
    </li>
{% endblock %}